a {
    color: #800000;
}


body {
    background-image: url(../images/w-qjCHPZbeXCQ-unsplash.jpg);
}

h3,h2,h1 {
    color: brown;
    font-style: italic;
    font-family: cursive;
    font-size: 2em;
}

hr {
    border-style: none;
    border-top: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}
li {
    color: midnightblue;
}
table {
    color: midnightblue;
}
b {
    color: yellowgreen;
}